.enc-rotables
  opacity 0
  transition opacity 1.5s
#barra-inferior
  position relative
  display block
  background-position center 
  background-size auto 100% 
  background-position repeat-x 
  background-image url(../img/cuidadosvectores_03.jpg)
  text-align center
  vertical-align middle
#barra-inferior-centro
  position relative
  width 1162px
  max-width 100%
  margin-left auto
  margin-right auto
  img
    width 100%
    &.enc-rotables
      position absolute
      top 0px
      left 0
#sicba-logos-izq
  position absolute
  top 20px
  right 30px
  #colaboracion
    text-align left
    color #EDAD4D
  .contenedor
    display flex
    flex-direction row
    img
      margin 10px
      max-height 50px

@media (max-width: 1240px)
  #sicba-logos-izq
    position absolute
    top 40px
    right 55px
    .contenedor
      flex-direction column
      img
        text-align right
        max-height unset
        max-width 110px
        margin-right 0px
        margin-left auto

