.enc-rotables
  opacity 0
  transition opacity 1.5s
#barra-inferior
  position relative
  display block
  background-position center 
  background-size auto 100% 
  background-position repeat-x 
  background-image url(../img/cuidadosvectores_03.jpg)
  text-align center
  vertical-align middle
#barra-inferior-centro
  position relative
  width 1162px
  max-width 100%
  margin-left auto
  margin-right auto
  img
    width 100%
    &#id-img-encF
      width unset
    &.enc-rotables
      position absolute
      top 0px
      left 0
#id-img-icon
  display none      
#id-img-encF
  display none

[que-pantalla="indicador"], [que-pantalla="descripcion"]
  #id-img-encB
    display none
  #id-img-icon
    display unset
    padding-left 50px
    height 80px
    padding-top 20px
    padding-bottom 20px
    width unset
  #id-img-encF
    display unset
    position absolute
    z-index -1
    top 16px
    left 0px
  .enc-rotables
    display:none
  #barra-inferior-centro
    width 30%
    min-width 400px
    min-height 120px
    margin-left 0 

#sicba-logos-izq
  position absolute
  top 20px
  right 30px
  #colaboracion
    text-align left
    color #EDAD4D
    font-size 0.8em
    font-weight bold
  .contenedor
    display flex
    flex-direction row
    img
      margin 10px
      max-height 50px

@media (max-width: 1240px)
  [que-pantalla="principal"]
    #sicba-logos-izq
      position absolute
      top 40px
      right 55px
      .contenedor
        flex-direction column
        img
          text-align right
          max-height unset
          max-width 110px
          margin-right 0px
          margin-left auto

